.startPage {
    flex-direction: column;

    color: rgb(226, 217, 217);

    .startPage__content {
        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }
        position: relative;
        .startPage__content-left{
            position: relative;
            top: -120px;

            display: flex;
            align-items: flex-end;
            flex-direction: column;
            
            @media only screen and (max-width: 1024px) {
                top:-10px;
                transform: scale(.85);
            }

            padding: 20px 40px;

            border-right: 2px solid #FF00FF;
            border-bottom: 2px solid #FF00FF;
            border-radius:20%;
        
            h1 {
                text-align: right;
                font-size: 25px;
            }
        }

       
        .startPage__content-right {
            position: relative;
            top: 120px;

            @media only screen and (max-width: 1024px) {
                top:10px;
                transform: scale(.85);
            }

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            padding: 20px 40px;
            margin-left: 20px;

            border-left: 2px solid #FF00FF;
            border-top: 2px solid #FF00FF;
            border-radius:  20%  ;

            h1 {
                text-align: left;
                font-size: 25px;
                
            }  
        }

        h1 {
            text-align: right;
            font-size: 35px;
            max-width: 550px;
    
            font-family: Courier  ;
    
            @media only screen and (max-width: 1024px) {
               width: 350px;
    
               font-size: 40px;
            }
        }
       
    }
} 
.create-button {
    padding: .7rem 3rem;
    margin: 15px 0px;
    max-width: 80px;

    border: 1px solid rgb(170, 164, 164);

    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    letter-spacing: 3px;

    @media only screen and (max-width: 1024px) {
       font-size: 17px;

       padding: .5rem 2rem;
       margin: 5px 0px;
    }
}