.startPage {
    flex-direction: column;
    margin: 20px 0;

    color: rgb(226, 217, 217);
    border: 1px solid rgba(71, 70, 70, 0.1);
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 37px 2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 37px 2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 37px 2px rgb(4, 4, 4);

    .startPage__content {
        background: linear-gradient(278deg, rgb(24, 23, 23 ) 50%, rgba(44, 44, 44, 0.6) 50.5%, rgba(14, 14, 14, 0.22) 27%);
        border-radius: 20px;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;
        }
  
        .startPage__content-left {
            width: 55vw;
            margin: 20px;

            @media only screen and (max-width: 1024px) {
                width: 95vw;
                margin: 20px 0;
            }
      
            .startPage__content-box {
                display: flex;
                @media only screen and (max-width: 1024px) {
                 align-items: center;
                 height: auto;
                }

                flex-direction: column;
                justify-content: space-between;

                width: 100%;
                height: 580px;
   
                border-radius: 30px;

                .logo {
                    text-align: left;
                    font-family: Courier;
                    font-weight: 700;
                    font-size: 30px;
                    letter-spacing: 2px;

                    margin: 30px;

                    div {
                        font-size: 80px;
                        font-weight: 100;
                    }
                    i {
                        font-size: 19px;
                        text-shadow: none;
                    }
                }

                .options {
                    display: flex;
                    margin-left: 20px;
                    gap: 10px;
    
                    .arrow-icon {
                        color: #FF00FF;
                        margin-right: 10px;
                        transform: rotate(45deg);
                    }
                }

                .info {
                  width: 550px;
                  border: 1px solid rgba(117, 115, 115, 0.3);

                  @media only screen and (max-width: 1024px) {
                    width: 85vw;
                  }   
                    
                  background-color: rgb(24, 23, 23);
                  border-radius: 20px;

                  margin: 20px;
                  padding: 10px;

                  ul {
                    font-size: 15px;
                    color: rgba(114, 114, 114, .8);
                    text-align: left;
            
                    list-style: none;

                    h3 {
                        color: rgb(218, 215, 215);
                    }
                    
            
                     li::before {
                        content: "\2022";
                        color: #FF00FF;
                        font-weight: bold;
                        display: inline-block; 
                        width: 2em;
                        margin-left: -2em;
                      }
                }

                .helper-text {
                    font-size: 15px;
                    text-align: left;

                    margin: 0 35px;
                }
                }
            }
        }


        .startPage__content-right {
            position: relative;
            flex-direction: column;

            align-items: center;

            margin: 0 40px;
            margin-right: 90px;
            gap:60px;

            @media only screen and (max-width: 1024px) {
                margin: 0px;
            }

            .image-container {
               display: flex;
               align-items: center;
               justify-content: center;

               @media only screen and (max-width: 1024px) {
                margin-top: 20px;
                margin-bottom: 50px;
               }

                img {
                    border: 1px solid rgb(65, 65, 65);
                    border-radius: 10px;
                    width: 150px;

                    @media only screen and (max-width: 1024px) {
                      width: 85px;
                    }
                    @media only screen and (min-width: 1024px) {
                        &:hover {    
                            position: relative;    
                            z-index: 15;            
                            transform: scale(1.5);
                            transition: all .5s linear;
                            cursor: pointer;
                        }
                    }
                }

                .blue_theme {
                    transform: rotate(-25deg);
                }
                .red_theme {
                    transform: scale(1.2);
                    z-index: 14;
                    position: relative;
                }
                .green_theme {
                    transform: rotate(25deg);
                    
                }
            }
        }    
    }
} 
.login__register-button {
    display: flex;
    padding: .5rem 1rem;

    width: min-content;

    border: 1px solid rgba(156, 156, 156, 0.3) !important;
    background-color: rgb(24, 23, 23);
    border-radius: 10px;

    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    letter-spacing: 3px;

    @media only screen and (max-width: 1024px) {
       font-size: 15px;
       margin: 5px 0px;
       margin-bottom: 30px;
    }
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 1.5rem;
    margin: 35px;
    width: min-content;

    border: 1px solid #FF00FF;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 600;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    letter-spacing: 3px;

    @media only screen and (max-width: 1024px) {
       font-size: 13px;

       padding: .5rem 1rem;
    }

    .icon {
        margin-right: 15px;
        transform: rotate(180deg);
    }
}