.Person {
    flex-direction: column;

    width: 100%;
    height: 50px;

    @media only screen and (max-width: 1024px) {
       height: auto;
    }

    margin: 10px 0;
            
    letter-spacing: 4px;
    color: rgb(207, 205, 205);
    font-size: 17px;

    .person_content {
        z-index: 8;
        display: flex;
        align-items: center;

        .admin {
            flex-direction: column;

            @media only screen and (max-width: 1024px) {
              margin-bottom: 30px;
            }

            .div__value {
                width: auto !important; 
                input {
                    width: 250px!important; 
                    height: 40px;
                    font-size: 17px!important; 
                    text-align: left!important; 
                    padding: .2rem .7rem!important; 

                    border: 1px solid rgba(165, 161, 161,.5) !important; 
                    border-radius: 10px;
                    &::placeholder { 
                        opacity: .6 !important;
                    }
                }
            }

            .help-div {
                width: 200px;
                margin: 10px 0;

                font-size: 11px;
                letter-spacing: 1px;
                text-align: center;
            }
        }

        .person__data {
            display: flex;
            align-items: center;      

            height: 50px;
            width: 100%;

            @media only screen and (max-width: 1024px) {
                flex-direction: column;
                height: auto;
            }
       
            text-align: left;
       
               div {
                   margin: 0 10px;
       
                   letter-spacing: 1px;
                   font-size: 13px;
               }

               .margin {
                margin: 15px 0;
               }
       
               .div__value {
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   
                   width: 30%;
                   height: 80%;
          
                   input {
                       width: 100%;  
                       margin: auto;
                                    
                       font-size: 14px;
                       text-align: left;
                       padding: .2rem .7rem;
       
                       border:1px solid rgba(63, 62, 62, .3);
                       border-radius: 5px;

                       &::placeholder { 
                        opacity: 0;   
                        
                        @media only screen and (max-width: 1024px) {
                            opacity: 1;
                        }
                      }
                   }

                   @media only screen and (max-width: 1024px) {
                        width: 100%;
                        height: 40px;

                        div {
                            display: none;
                        }
                   }
               }
       
               h4 {
                   font-size: 17px;
       
                   &::first-letter {
                       color:#FF00FF;
                   }
       
                   p {
                       font-size: 10px;
                       letter-spacing: 1px;
                   }
               }
       
               h5 {
                   font-size: 17px;
                   letter-spacing: 1px;
                   color: rgb(240, 240, 240);
                   font-weight: 300;
       
                   margin-right: 10px;
               }
        }

        .delete-person {
            margin-left: 20px;
            margin-right: 20px;

            color:grey;

            &:hover {
                transition: all 1s ease;
                cursor: pointer;
                color:#FF00FF;
            }
        }     
    }
}