.Person {
    flex-direction: column;

    width: 100;
    height: 50px;

    margin: 10px 0;
            
    letter-spacing: 4px;
    color: rgb(131, 129, 129);

    .person_content {
        display: flex;
        align-items: center;
        
        height: 50px;
        width: 100%;

        padding: 0 5px;
        text-align: left;

        text {
            margin: 0 10px;

            letter-spacing: 1px;
            font-size: 13px;
        }

        .text__value {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 30%;
            height: 80%;
            
            padding: 0 10px;
   
            input {
                width: 100%;  
                margin: auto;
                             
                font-size: 14px;
                text-align: center;

                background-color: rgb(30, 30, 30);
                border:none;
            }
        }

        .delete-person {
            margin-left: auto;
            margin-right: 10px;

            color:grey;

            &:hover {
                transition: all 1s ease;
                cursor: pointer;
                color:#FF00FF;
            }
        }

        h4 {
            font-size: 17px;

            &::first-letter {
                color:#FF00FF;
            }

            p {
                font-size: 10px;
                letter-spacing: 1px;
            }
        }

        h5 {
            font-size: 17px;
            letter-spacing: 1px;
            color: rgb(240, 240, 240);
            font-weight: 300;

            margin-right: 10px;
        }
    }
}