.Person {
    flex-direction: column;

    width: 230px;
    height: 300px;

    margin: 20px;

    border-radius: 10px;
    box-shadow: 0 0 .5em .02em rgb(40, 35, 35);
         
    //background-color: rgb(250, 121, 73); 
   // background: rgb(250,121,73);
  //  background: linear-gradient(120deg, rgb(248, 94, 38) 20%, rgba(254, 4, 254,.1) 100%);
    letter-spacing: 4px;

    .person_content {
        height: 100%;
        flex-direction: column;

        border-radius: 10px;

        h4 {
            min-height: 50px;

            max-width: 150px;
            font-size: 22px;

            p {
                font-size: 12px;
                letter-spacing: 1px;
            }
        }

        h5 {
            font-size: 17px;

            max-width: 150px;
        }
        
        .new_person-button {
            font-size: 55px;
        }
    
        form {
            height: 50%;
            
            input {
                max-width: 80%;               
    
                font-size: 18px;
            }
        }
    }
}