.day {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 11%;
    height: 17%;

    margin:.6%;

    background-color: rgb(34, 32, 32);
    border: 1px solid  rgb(34, 32, 32);
    border-radius: 5px;

    font-size: 18px;

    nav {   
        display: flex;

        width: 100%; 
        margin: 5px; 

        text {
            margin-left: 10px;
            color: rgb(160, 156, 156);
            font-size: 12px;
        }
    }

    .day__list {
        flex-wrap: wrap;

        width: 100%;
        height: 100%;       

        font-size: 11px;
        color: rgb(116, 109, 109);

        background-color:  rgb(37, 35, 35);
        border-radius: 5px;

        .person {
            margin: 5px;
        }

        .login-person {
            color: #e0a9e0;
        }
    }

    &:hover {
        cursor: pointer;
       // box-shadow: inset 0 0 .15em #FF00FF;
       border: 1px solid  #FF00FF;
    }
}