.LoginPage {
    flex-direction: column;
    position: relative;

    width: 300px;
    height: auto;

    background-color: rgba(28, 27, 27, .9);
    border-radius: 20px;
    padding: 15px 0px;

    font-size: 20px;
    h1::first-letter {
        color: #FF00FF;
    }

    .Register__content {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px;

        width: 100%;

        p {   
            max-width: 240px;
            text-align: left;

            margin: 20px 0;

            font-size: 13px;
            color: rgba(172, 165, 165, .7);
        }

        .error__message {
            color: red;
            font-size: 13px;

            margin-top: 10px;
        }

        input {
            width: 240px;

            font-size: large;
            margin: .7rem 0;

            background-color: rgba(37, 36, 36, 0.9);
            border-radius: 10px;
            padding: 10px 10px;
            border: none;
        }
    }

    button {
        position: absolute;
        right: 30px;
        bottom: 30px;

        padding: .4rem 1.4rem;

        color: white;
        font-size: 14px;

        border: 1px solid white;
        border-radius: 10px;

        &:hover {
            transition: all .5s ease-in-out;
            color: #FF00FF;
            border: 1px solid #FF00FF;;
        }
    }
    @media only screen and (max-width: 1024px) {
        padding: 55px 0px;
        width: 80vw;    
        height: 450px;    
    }
    
    @media only screen and (max-width: 324px) {
        width: 95vw;  
    }
}