.DayContent {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 170px;

    font-size: 16px;

    nav {
        position: absolute;
        left: 20px;
        top: 20px;

        font-size: 20px;
    }
    
    .day__chooseHours-choose {
        flex-direction: column;
        
        .hours {
            margin: 0 20px;
        }
    }

    .day__workerlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        width: 90%;
        height: auto;  
        margin-top: 70px;     

        font-size: 14px;
        letter-spacing: 2px;
        color: rgb(126, 121, 121);

        border-radius: 5px;

        .person { 
            display: flex;    
               
            padding:10px;
            margin-bottom: 5px;

            background-color: rgb(25, 25, 25);
            border-radius: 7px;

            .interval {
                margin-left: auto;
            }
        }

        .login-person {
            color: #f9f8f9;
        }
    }
}

