.messagePrompt {
    position: fixed;
    //left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
    max-width: 80vw;
    flex-direction: column;
     

    padding:.9rem 1.2rem;
    font-size: 20px;
    color: rgb(162, 160, 160);
    background-color:rgb(23, 22, 22);
    border-radius:10px;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        font-size: 25;
        color: #FF00FF;
        text-transform:uppercase;

        .exit {
            color:white;
                   
            &:hover {
                color: #FF00FF;
                cursor: pointer;
                transition: all 1s ease;
            }
        }
    }

    h1 {
        font-size: 18px;
        text-align: left;
        color: rgb(224, 217, 217);
        min-width: 200px;
    }

    .worker {
        width: 100%;
        align-content: space-between;
        align-items: flex-start;
        justify-content: space-between;

        flex-direction: column;

        border-radius: 10px;
        background-color:rgb(32, 31, 31);
        padding: 5px 10px;

        .worker__data {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        .options {
            width: 100%;
            display: flex;
            justify-content: space-between;

            span {
                border: 1px solid rgb(181, 179, 179);
                border-radius: 7px;
                padding: 3px 10px;
                font-size: 17px;

                &:hover {
                    color: #FF00FF;
                    cursor: pointer;
                    transition: all 1s ease;
                }
            }

            .reject {
                border: 1px solid rgb(181, 179, 179);
                border-radius: 7px;
                padding: 3px 10px;

                &:hover {
                    color: #FF00FF;
                    cursor: pointer;
                    transition: all 1s ease;
                }
            }
            margin-top: 20px;
        }
     
    }
}

.groups {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    z-index: 15;
    max-width: 80vw;
    flex-direction: column;

    background-color:rgb(23, 22, 22);
    border-radius:10px;
    padding:.9rem 1.2rem;

    h1 {
         font-size: 18px;
         text-align: center;
         color: rgb(218, 206, 206);
    }

    .group {
        padding: 5px 10px;
        border-radius: 10px;
        margin: 5px 0;

        background-color:rgb(33, 32, 32); 

        &:hover {
            color: #FF00FF;
            cursor: pointer;
            transition: all 1s ease;
        }       
    }
}