.Settings__container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    z-index: 11;
    position: fixed;
    top:20px;

    width: 65vw;
    height: 80vh;

    @media only screen and (max-width: 1024px) {
        width: 80vw;  
        height: 90vh;  
    }

    padding: 1rem 2rem;
    background-color: rgba(15, 15, 15, .9);
    border-radius: 15px;

    .option {
        background-color: rgba(28, 28, 28, 0.9);
        justify-content: space-between;
        border-radius: 15px;
        padding: .5rem 1rem;
        width: 90%;

        span {
            font-size: 18px;
            padding: 0 .5rem;
            text-align: left;

            width: 40%;
        }

        .themes {
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 10px;

            .theme-box {
                width: 40px;
                height: 40px;
    
                border: 1px solid rgba(76, 75, 75, .5);

                &:hover {
                    cursor: pointer;
                    border: 1px solid rgba(152, 152, 152, 0.5);
                }
            }
        }
       
        select {
            background-color: transparent;
            border: 1px solid rgba(80, 79, 79, .5);
            border-radius: 5px;
            
            padding: .3rem 1rem;
            color: white;
            font-size: 17px;
        }
       
          /* Style the arrow inside the select element: */
        select: after {
            content: "";
            top: 14px;
            right: 10px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: rgb(238, 16, 16) transparent transparent transparent;
          }
    }
}