.messageModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 14;
    max-width: 80vw;
     

    padding:.9rem 1.2rem;
    font-size: 20px;
    color: rgb(162, 160, 160);
    background-color:rgb(23, 22, 22);
    border-radius:10px;

    div {
        margin-right: 10px;
        max-width: 90%;
    }
}