.day {
    display: flex;
    display:inline;
    align-items: flex-start;
    flex-direction: column;

    width: 13%;
    height: 18%;

    margin:.5%;

    background-color: rgba(31, 31, 31, .5);
    border: 1px solid  rgb(34, 32, 32);
    border-radius: 5px;
    overflow-y: scroll;   

    &::-webkit-scrollbar {
        display: none;
    }

    font-size: 18px;

    nav {   
        display: flex;

        width: 100%; 
        margin: 5px; 

        div {
            margin-left: 5px;
            color: rgb(160, 156, 156);
            font-size: 12px;
        }

        .magenta-text {
            color: #FF00FF;
        }
    }

    .day__workerlist {
        display: flex;
        flex-direction: column;
        //flex-wrap: wrap;

        width: 95%;
        height: 100%;    

        font-size: 11px;
        color: rgb(116, 109, 109);

        border-top: 1px solid rgba(65, 65, 65, .5);
        margin: auto;

        .person {    
            padding: 5px 0px;
            align-items: center;
            justify-content: space-around;
            display: flex;
            gap: 5px;
        }

        .login-person {
            color: #f9f8f9;
        }
        .minus-icon {
            &:hover {
                color: #FF00FF;
            }
        }
    }
}

.day__smallscreen {
    flex-direction: column; 
    justify-content: flex-start;
    width: 11%;
    min-height: 50px;

    margin:3px;
    border-radius: 5px;

    font-size: 16px;

    span {
        border-radius: 50%;
        padding: .1rem .4rem;
    }

    .today {
        background-color: white;
        border-radius: 50%;
        padding: .1rem .4rem;
        color: black;
    }

    .dots {
        display: flex;
        .dot {
            width: 10px;
        }
    }
}

.enable-day {
    
    &:hover {
        cursor: pointer;
        border: 1px solid  #6d5a6d;
    }
}
.disable-day {
    color: rgb(164, 161, 161) !important;
}
