.day__chooseHours {
    z-index: 20;
    position: absolute;
    width: 22vw;

    left: 50%;
    top:50%;
    margin-left: -12vw;
    margin-top: -20vh;

    @media only screen and (max-width: 1024px) {
        width: 90vw;

        left: 20%;
        top:-20%;
        margin-left: -15vw;
        margin-top: -40vh;
    }

  
    background-color: rgb(28, 27, 27);
    border-radius: 10px;

    .nav {
        display: flex;
        width: 100%;

        margin: 10px;
        color: rgb(235, 229, 229);
     
        font-size: 20px;

        @media only screen and (max-width: 1024px) {
            font-size: 23px;
        }

        div {
            text-align: left;
            width: 85%;

            font-size: 15px;
            margin-left: 10px;

            @media only screen and (max-width: 1024px) {
               // font-size: 12px;
            }
        }

        .exit-icon {
           position: absolute;
           right: 10px;
            
           &:hover {
               color: #FF00FF;
               cursor: pointer;
           }
        }

        &:hover {
            cursor: move;
        }
    }

    
    h4 {
        width: 90%;

        font-size: 12px;
        color: rgba(171, 168, 168,.5);
        text-align: left;
        margin: 5px 10px;
    }

    .day__chooseHours-choose {
        z-index: 20;
        flex-direction: column;

        color: rgb(163, 155, 155);     


        .chooseHours {
            width: 95%;
            height: auto;

            background-color: rgb(32, 32, 32);
            border-radius: 10px;   

            font-size: 17px;

            margin: 5px 0;

            .label {
                width:50%;
                text-align: left;
                margin: 0 10px;
            }

            .hours { 
                width:50%;
                text-align: right;
                border: none;            
                font-size: 20px;
                color: rgb(199, 198, 198);

                margin: 0 10px;
   
                
                &:hover{
                    cursor: pointer;
                }
            
            }
        }

        .select {
            border: 1px solid #FF00FF;
        }
        .no-select {
            border: 1px solid rgb(80, 78, 78);
        }
    }

    ul {
        font-size: 10px;
        color: rgba(114, 114, 114, .8);
        text-align: left;

        list-style: none;
        

         li::before {
            content: "\2022";
            color: #FF00FF;
            font-weight: bold;
            display: inline-block; 
            width: 2em;
            margin-left: -2em;
          }
    }

    .options {
        width: 100%;
        font-size: 17px;

        @media only screen and (max-width: 1024px) {
            font-size: 20px;
        }
        color: rgb(209, 206, 206);

        margin: 10px 0;
        margin-top: 20px;

        .remove-button {
            margin-left: 10px;

            &:hover  {
                color: #FF00FF;
            }
        }

        .save-button {
            margin-left: auto;
            margin-right: 10px;
           

            &:hover > .icon {
                color: #FF00FF;
                transition: all 1s ease-in-out;
            }

            .icon {
                margin-left: 10px;
            }
        }

        .button {
            border: 1px solid rgb(67, 68, 67);
            border-radius: 10px;
            padding: .2rem 1rem;

            &:hover {
                cursor: pointer;
                border: 1px solid rgb(126, 126, 126);
                transition: all .5s ease-in-out;
            }
        }
    }

}

.blur-page {
    position: fixed;

    width: 100vw;
    height: 100vh;
    left: 0;

    @media only screen and (max-width: 1024px) {
       top:0;
     }

    background-color: rgba(35, 34, 34, 0.8);
    backdrop-filter: blur(2px);
    backdrop-filter: grayscale(80%);

    z-index: 2;
}