.CreateSchedule {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 90vw;
    height: 80vh;

    background-color: rgba(28, 27, 27, .9);
    border-radius: 10px;

    color: antiquewhite;    

    nav {
      display: flex;
      align-items: center;
      width: auto;
      height: 50px;

      margin: 20px;
      padding: 10px 25px;

      border: 1px solid rgb(49, 48, 48);


      h3 {
        letter-spacing: 2px;
        font-family: Courier  ;
        font-size: 30px;

        @media only screen and (max-width: 600px) {
          max-width: 350px;
          font-size: 40px;
       }
    }

    .inputs {
      display: flex;
      margin-left: auto;
      .name_Schedule-input {
        max-width: 200px;

        font-size: 15px;
        text-align: center;
        letter-spacing: 2px; 
        
        padding: .7rem 1rem;

        border-radius: 10px 0px 0px 10px;
        border: 2px solid rgb(114, 113, 113);

        &:hover { 
          border: 3px solid rgb(114, 113, 113);
          transition: all .4s ease-in-out;
          cursor:text;
        }
        @media only screen and (max-width: 600px) {
          padding: .3rem .3rem;
        }
      }

      .Create_Schedule-button {    
        width: 150px;

        font-size: 15px;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px; 
        color: black;

        padding: .7rem .2rem;

        border-radius: 0px 10px 10px 0px;
        background-color: rgb(114, 113, 113);
        border: 2px solid rgb(114, 113, 113);
        border-left: none;

        &:hover {    
          background-color: rgb(208, 204, 204);
          transition: all .4s ease-in-out;
        }
      }

      @media only screen and (max-width: 600px) {
        transform: scale(.7);
        max-width: 100vw;
      }
    }
    }

    .Content {  
      height: 100%;

      margin: 0 20px 20px 20px;
      
      .Persons {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        //flex-wrap: wrap;
        justify-content: flex-start;

        width: 70%;
        height: 100%;

        margin-right: 20px;
        border: 1px solid rgb(49, 48, 48);
      }

      .Person__data {
        width: 30%;
        height: 100%;

        border: 1px solid rgb(49, 48, 48);
      }
    }
}




::placeholder { 
    color: rgba(240, 230, 230,.7);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { 
    color: rgb(240, 230, 230);
  }
  
  ::-ms-input-placeholder { 
    color: rgb(240, 230, 230);
  }
  
