.CreateSchedule {
    flex-direction: column;
    position: relative;

    width: 100%;
    min-height: 100vh;

    .icon-exit {
      position: absolute;
      left: 20px;
      top: 20px;

      cursor: pointer;

      &:hover {
        color: magenta;
      }
    }

    h3 {
        margin-top: 100px;
        max-width: 400px;

        letter-spacing: 4px;
       
    }

    .name_Schedule-input {
        width: 200px;

        font-size: 27px;
        text-align: center;
        letter-spacing: 2px; 

        margin-top:20px;
        margin-bottom: 60px;
    }

    .Persons {
        width: 80%;
        flex-wrap: wrap;
       
    }
}




::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(240, 230, 230);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(240, 230, 230);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(240, 230, 230);
  }
  
