.CreateSchedule {
    flex-direction: column;
    position: relative;

    width: 100%;
    min-height: 100vh;

    .icon-exit {
      position: fixed;
      left: 20px;
      top: 20px;

      cursor: pointer;

      &:hover {
        color: magenta;
      }
    }

    h3 {
        margin-top: 50px;
        max-width: 500px;

        letter-spacing: 4px;
        font-family: myFont;
        font-size: 50px;
    }

    .name_Schedule-input {
        width: 200px;

        font-size: 27px;
        text-align: center;
        letter-spacing: 2px; 

        margin-bottom: 10px;
    }

    .Persons {
        max-width: 80%;
        height: 350px;
        flex-wrap: wrap;
        position: relative;

        margin-bottom: 20px;
        padding: 40px;
    }
}




::placeholder { 
    color: rgb(240, 230, 230);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { 
    color: rgb(240, 230, 230);
  }
  
  ::-ms-input-placeholder { 
    color: rgb(240, 230, 230);
  }
  
