.SchedulePage {
    position: relative;
    display: flex;
    
    width: 90vw;
    height: 80vh;

    @media only screen and (max-width: 1024px) {
        width: 100vw;
        height: auto;  
        flex-direction: column;

       //margin-top: 20%;  
        margin-top: 0%;  

        //margin-bottom: 20%;  
        margin-bottom: 20%;  
       // border-radius: 30px;
    }

    background-color: rgba(28, 27, 27, .9);
    border-radius: 10px;

    color: antiquewhite;   

    .SchedulePage__main {
        display: flex;

        @media only screen and (max-width: 1024px) {
            flex-direction: column;

            background-color: #FF00FF;
            background: linear-gradient(0deg, rgb(154, 9, 154) 66%, rgb(193, 7, 193) 85%, rgba(218, 8, 197, 0.9) 96%);
            
            -webkit-box-shadow: inset 0px -7px 0px 0px rgb(124, 2, 124);
            -moz-box-shadow: inset 0px -7px 0px 0px rgb(124, 2, 124);
            box-shadow: inset 0px -5px 0px 0px rgb(124, 2, 124);
            border-bottom: 1px solid rgba(224, 223, 223, 0.3);
    
            border-radius: 0 0 20px 20px;
        }
    } 

    .SchedulePage__navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;

        @media only screen and (max-width: 1024px) {
            flex-direction: row;
            align-items:center;
            justify-content: center;
        }
        
        .date {    
            margin: 10px;
            margin-top: 15px;
            padding: 10px;

            max-width: 250px;
    
            font-size: 24px;

            text-align: left;

            @media only screen and (max-width: 1024px) {
                display: flex;
                width: 100%;
                justify-content: flex-start;  
                align-items: center;  
                max-width: 1000px;

                margin: 0 10px;
                margin-top: 5px;

              
            }                   
    
            .year {
                font-size: 60px;
                letter-spacing: 2px;

                @media only screen and (max-width: 1024px) {
                    font-size: 25px;
                }
            }

            .month {
                margin-bottom: 30px;

                font-weight: 700;
                color: #FF00FF;

                @media only screen and (max-width: 1024px) {
                    position: absolute;
                    left: 41%;
                    top:7%;

                    text-transform:uppercase;
                    letter-spacing: 2px;
                    color: antiquewhite
                } 
            }
        }
    }


    .SchedulePage__content {
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 90%;
        height: 100;
        
        @media only screen and (max-width: 1024px) {
            margin: 20px auto;
            margin-top: 40px;
            padding: 20px 10px;

            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            
            &::after {
                content:"";           
                width: 71%;
            }
        }

        margin: 20px;
        margin-left: 0px;
        
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.color-magenta {
    color: #FF00FF;
}