.App {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    color: rgb(247, 233, 228);
    font-size: 30px;
    text-align: center;

    .square-conteiner {
        position: fixed;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        
        width: 120%;
        height: 100vh;

        .thisDay {
            animation: pulse 4s infinite;
        }



        @for $i from 1 through 5 {
            .square-#{$i} {               
                width: 80px;
                height: 70px;
    
                overflow: hidden;
        
                box-shadow: 0 0 .2em .2em rgba(1, 1, 1, 0.1);
                border-radius: 20%;

                margin: 20px 20px;
                
                transform: rotate(100deg) scale(1);  
    
                text {
                    display: flex;
                    flex-direction: column;

                    font-size: 30px;
                    transform: rotate(-90deg);
                    color: rgba(1, 1, 1, 0.1);
                    font-weight: 600;

                    span {
                        font-size: 15px;
                    }
                }
            }
            z-index: -1;
        }
    }

    .login-button {
        position: fixed;
        top: 20px;
        left: 20px;

        font-size: 25px;

        &:hover {
            cursor: pointer;
            transition: all .5s ease-in-out;
            color: #FF00FF;
            transform: scale(.95);
        }
    }

    .icon-exit {
        position: fixed;
        left: 20px;
        top: 20px;
  
        cursor: pointer;
  
        &:hover {
          color: magenta;
        }
      }

    .calendar-icon {
        z-index: -1;
        position: fixed;
        top: 20px;
        right: 20px;

        opacity: .7;

        @media only screen and (max-width: 600px) {           
           position: absolute;   
        }
    }

    .version-text {
        position: fixed;
        right: 20px;
        bottom: 20px;

        color: rgb(141, 140, 140);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        font-weight: 800;

        @media only screen and (max-width: 600px) {           
            transform: scale(.8);  
            display: none;     
        }
    }

    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        outline: none;

        padding: .3rem 0rem;

        color: white;
    }
}

@keyframes pulse {
	0% {
        transform: rotate(100deg) scale(0.85); 
	}

	70% {
        transform: rotate(100deg) scale(1.25); 
	}

	100% {
		transform:rotate(100deg) scale(0.85);
	}
}