.App {
    display: flex;
    position: relative;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    color: rgb(247, 233, 228);
    font-size: 30px;
    text-align: center;

    .version-text {
        position: absolute;
        right: 20px;
        bottom: 20px;

        color: rgb(244, 242, 242);
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 13px;
        font-weight: 800;
    }

    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        outline: none;

        padding: .3rem 0rem;

        color: white;
    }
}