body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: transparent;

  border-radius: 20px;
  
  &:hover {
    cursor: pointer;
  }
}

@font-face {
  font-family: myfont;
  src: url(./font/BalonkuRegular-la1w.otf);
}
