.SchedulePage__data {
    flex-direction: column;
    
    height: 100%;
    width: 90;
    min-width: 200px;

    font-size: 18px;
    color: rgb(127, 126, 126);

    .group-name {   
        width: 100%;
        
        padding: .4rem;
        text-align: left;
        color: rgb(214, 210, 210);

        
        @media only screen and (max-width: 1024px) {
            width: 90%;
            margin-bottom: 20px;
        }

        small {
            font-size: 11px;
            color: gray;
        }
    }

    .worker-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100%;
        width: 100%;

        margin-bottom: 20px;

        .worker {
            width: 100%;
        
            padding: .3rem;
            background-color: rgb(25, 25, 25);
            border-radius: 7px;


            @media only screen and (max-width: 1024px) {
                width: 90%;
                margin: 5px 0;
            }

            div {
                width: 50%;
                margin: 0px auto;
            }

            .person-icon {
                margin-right:8px;
            }

            .worker-name {       
                text-align: left;
                font-size: 16px;
               
                padding: .2rem; 
            }

            .worker-hours {
                text-align: right;          
                padding: .2rem;
            }
        }
    }
} 