.SchedulePage__data {
    flex-direction: column;
    
    height: 100%;
    width: 90%;

    font-size: 18px;
    color: rgb(160, 156, 156);
    margin: auto;

    .group-name {
        width: 90%;
        
        border: 2px solid rgb(34, 33, 33);

        padding: .4rem;
    }

    .worker-list {
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 90%;

        border: 2px solid rgb(34, 33, 33);

        margin: 10px;
        margin-bottom: 20px;
        padding: .4rem;

        .worker {
            width: auto;

            background-color: rgba(51, 49, 49, 0.5);
            
            margin: 5px auto;
            padding: .2rem 1rem;

            @media only screen and (max-width: 600px) {
                width: 100%;
                padding: 0;;
            }

            text {
                width: 50%;
                margin: 0px auto;
            }

            .worker-name {       
                text-align: left;
            }

            .worker-hours {
                text-align: right;
            }
        }
    }
} 