.menua {
    flex-direction: column;
    z-index: 11;
    position: fixed;
    top:20px;
    right: 20px;

    padding: 1rem 2rem;
    background-color: rgba(15, 15, 15, .9);
    border-radius: 15px;

    span {
        width: 100%;

        text-align: left;
        font-size: 17px;
        margin: 5px 10px;
    }
}