.menu__container {
    flex-direction: column;
    z-index: 11;
    position: fixed;
    top:20px;
    right: 20px;

    padding: 1rem 2rem;
    background-color: rgba(15, 15, 15, .9);
    border-radius: 15px;

    span {
        display: flex;
        align-content: space-between;
        gap: 10px;
        width: 100%;

        text-align: left;
        font-size: 17px;
        margin: 5px 10px;

        .meganta-text {
            color: magenta;
            letter-spacing: 2px;
        }
    }

    .hover-color {
        &:hover {
            cursor: pointer;
            color: magenta;
            transition: all .7s ease-in-out;
        }
    }
}